@charset "UTF-8";
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:black;
    background-color: tan;
}
li {font-size: 14px;
    font-style: italic;
    font-weight: normal;
    text-align:center;

}
a {color: blue;
text-decoration: none;}

.resumelistheading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.justify{text-align: justify;}





